@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    background-color: theme('colors.neutral-primary');
}

.sidebar {
    width: 60px;
    min-height: 100vh;
    background-color: theme('colors.neutral-secondary');
    padding: 20px;
    box-sizing: border-box;
    color: theme('colors.base-100');
    overflow: hidden;
    transition: width .75s ease;
}

.sidebar:hover {
    width: 300px;
}

.sidebar-group {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin: 10px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.sidebar-item:hover {
    background-color: rgba(128, 128, 128, 50%);
}

.sidebar-item-icon {
    /*margin-right: 5px;*/
}

.sidebar-item-text {
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.2s ease;
}

.sidebar:hover .sidebar-item-text {
    opacity: 1;
}

.sidebar:hover .sidebar-item-icon {
    opacity: 1;
    margin-right: 10px;
}
