@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        margin: 0;
        padding: 0;
        background-color: theme('colors.background');
        font-family: 'Montserrat', serif;
    }
}

h1 {
    font-size: 2rem;
}
